<div class="medium-4 medium-centered row" align="center">
	<div class="medium-12 medium-centered columns" id="Sign">
		<h2><i class="step fi-social-twitter size-60" id="valid">&nbspSign up</i></h2>	
		<div id="hideMsg" style="display: none">
			Redirect in <span>5</span> seconds
		</div>
	</div>
	<div class="medium-8 medium-centered columns">
		<%= form_tag(create_path, :id => "check") do %>
		Username
		<br />
		<%= text_field_tag 'username', nil, :class => 'username inputbox'%>
		Password
		<br />
		<%= password_field_tag 'password', nil, :class => 'password inputbox'%>
		Email
		<br />
		<%= text_field_tag 'email', nil, :class => 'email inputbox'%>
		Phonenumber
		<br />
		<%= text_field_tag 'phonenumber', nil, :class => 'phonenumber inputbox'%>
		<%= submit_tag("Sign",
		class: "button [tiny small large]", :id => "button")%>
		<%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 500, :"data-height" => 200 %>
		<%end%>
	</div>
</div>
